/* ------------------------- */
/* Estilos Generales */
/* ------------------------- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {

    margin-bottom: 0;
}

.texto-naranja {
    font-weight: 400;
    color: orange;
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-text-shadow: 0 .3rem .9rem rgba(255, 251, 3, 0.753);
    text-shadow: 0 0.3rem 0.9rem rgba(251, 255, 13, 0.575);
    letter-spacing: -3px;
}

.texto-blanco {
    font-weight: 700;
    color: #fff;
}

.texto-negro {
    color: #000;
}

/* ------------------------- */
/* Loading*/
/* ------------------------- */

.loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(210, 213, 218);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: 1s all;
    opacity: 0;
}

.loading.show {
    opacity: 1;
}

.spinnerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spinner {
    width: 56px;
    height: 56px;
    display: grid;
    border: 4px solid #0000;
    border-radius: 50%;
    border-right-color: orange;
    animation: tri-spinner 1s infinite linear;
}

.spinner::before,
.spinner::after {
    content: "";
    grid-area: 1/1;
    margin: 2px;
    border: inherit;
    border-radius: 50%;
    animation: tri-spinner 2s infinite;
}

.spinner::after {
    margin: 8px;
    animation-duration: 3s;
}

@keyframes tri-spinner {
    100% {
        transform: rotate(1turn);
    }
}

.loader {
    color: #4a4a4a;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: 25px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 40px;
    padding: 30px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 8px;
}

.words {
    overflow: hidden;
}

.word {
    display: block;
    height: 100%;
    padding-left: 6px;
    color: #299fff;
    animation: cycle-words 5s infinite;
}

@keyframes cycle-words {
    10% {
        -webkit-transform: translateY(-105%);
        transform: translateY(-105%);
    }

    25% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }

    35% {
        -webkit-transform: translateY(-205%);
        transform: translateY(-205%);
    }

    50% {
        -webkit-transform: translateY(-200%);
        transform: translateY(-200%);
    }

    60% {
        -webkit-transform: translateY(-305%);
        transform: translateY(-305%);
    }

    75% {
        -webkit-transform: translateY(-300%);
        transform: translateY(-300%);
    }

    85% {
        -webkit-transform: translateY(-405%);
        transform: translateY(-405%);
    }

    100% {
        -webkit-transform: translateY(-400%);
        transform: translateY(-400%);
    }
}


/* ------------------------- */
/* Clases de Fullpage.js */
/* ------------------------- */
#fp-nav ul li a span {
    background: orange;
}

#fp-nav ul li .fp-tooltip {
    color: orange;
}

/* ------------------------- */
/* Menu de Navegacion */
/* ------------------------- */
.nav {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 70;
    width: 100%;
    margin: 0;
    padding: 10px 20px;
}

.nav li,
.nav a {
    display: inline-block;
    margin: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 19px;
    color: #c2c2c2;
    transition: .5s ease;
}

.nav li.active {
    border-bottom: 2px solid orange;
}

.menu li a {
    transition: .5s ease;
    margin: 0;
    padding: 0;
}

.menu li.active a,
.menu li:hover a {
    color: orange;
}


/* ------------------------- */
/* Header */
/* ------------------------- */
.header {
    background: url('../media/fondoPrincipal.webp');
    background-position: center;
    background-size: cover;
    opacity: 1;
    position: relative;
    z-index: 1;

}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.5);
}

.header .contenedor-titulo {
    display: flex;
    position: relative;
    z-index: 99;
}

.header .titulo {
    font-size: 80px;
    text-transform: uppercase;
}

.header p {
    font-size: 28px;
}

.division-titulo {
    display: flex;
    width: 50%;
    margin-left: auto;
    flex-direction: column;
}

.header .contenedor-icono {
    position: absolute;
    z-index: 99;
    bottom: 3%;
    left: 47%;
    font-size: 40px;
    animation: bajar-subir 1s ease infinite;
}

@keyframes bajar-subir {
    0% {
        transform: translateY(20px);
    }

    25% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(20px);
    }
}

/* ------------------------- */
/* Redes Solciales */
/* ------------------------- */


.redesSociales {
    display: flex;
    margin: auto;
    justify-content: center;


}

.redesSociales img {
    width: 54px;
}


.main {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.up {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

.down {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

.card1 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: white;
    border-radius: 90px 5px 5px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
}

.instagram {
    margin-top: 1.5em;
    margin-left: 1.2em;
    fill: #cc39a4;
}

.card2 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: white;
    border-radius: 5px 90px 5px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
}

.twitter {
    margin-top: 1.5em;
    margin-left: -.9em;
    fill: #03A9F4;
}

.card3 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: white;
    border-radius: 5px 5px 5px 90px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
}

.github {
    margin-top: -.6em;
    margin-left: 1.2em;
}

.card4 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: white;
    border-radius: 5px 5px 90px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
}

.discord {
    margin-top: -.9em;
    margin-left: -1.2em;
    fill: #8c9eff;
}

.card1:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #cc39a4;
}

.card1:hover .instagram {
    fill: white;
}

.card2:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #03A9F4;
}

.card2:hover .twitter {
    fill: white;
}

.card3:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: black;
}

.card3:hover .github {
    fill: white;
}

.card4:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #8c9eff;
}

.card4:hover .discord {
    fill: white;
}

/* ------------------------- */
/* Proyectos */
/* ------------------------- */


.proyectos article {
    background-position: center;
    background-size: cover;
}

.proyectos article:nth-child(1) {
    background-image: url('../media/fondoProyectos.webp');
    background-position: center;
    background-size: cover;
    opacity: 1;
    position: relative;
    z-index: 1;
}

.proyectos article:nth-child(1)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.5);
}

.proyectos article:nth-child(2) {
    background-image: url('../media/fondoSlider.jpg');
    background-position: center;
    background-size: cover;
    opacity: 1;
    position: relative;
    z-index: 1;
}

.proyectos article:nth-child(2)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.644);
}



.proyectos article:nth-child(3) {
    background-image: url('../media/fondoSlider.jpg');
    background-position: center;
    background-size: cover;
    opacity: 1;
    position: relative;
    z-index: 1;
}

.proyectos article:nth-child(3)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.644);
}

#slidePrincipal {
    display: flex;
    flex-direction: column;
    margin-top: 50px;

}

#slideTwo,
#slideTree,
#slideFor {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    position: relative;
    z-index: 1;
}

#slideTwo::before,
#slideTree::before,
#slideFor::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

}

.imgProyecto {
    display: flex;
    justify-content: center;
    width: 40%;
}

.imgProyecto img {
    width: 90%;
}

.textProyecto {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
    width: 50%;
}

.textProyecto h2 {
    font-family: var(--fontBase);
    text-align: center;
    font-weight: 800;
    font-size: 2.5em;
    margin-bottom: 10px;
    -webkit-text-shadow: 0 .3rem .9rem #1f4c65;
    text-shadow: 0 0.3rem 0.9rem #1f4c65;
    color: aliceblue;
    animation: fadeInUp 1s ease-in-out forwards;
}

.textProyecto h6 {
    color: aliceblue;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    font-weight: 700;
    font-size: 1em;
    animation: fadeInUp 2s ease-in-out forwards;
}

/* btn ver ahora */

.btnVer {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.2rem;
    padding: 1rem 2.5rem;
    border: none;
    outline: none;
    border-radius: 0.4rem;
    cursor: pointer;
    text-transform: uppercase;
    background-color: rgb(14, 14, 26);
    color: rgb(234, 234, 234);
    font-weight: 700;
    transition: 0.6s;
    box-shadow: 0px 0px 60px #1f4c65;
    -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.4));
}

.btnVer:active {
    scale: 0.92;
}

.btnVer:hover {
    background: rgb(2, 29, 78);
    background: linear-gradient(270deg, rgba(2, 29, 78, 0.681) 0%, rgba(31, 215, 232, 0.873) 60%);
    color: rgb(4, 4, 38);
}

.fp-watermark {
    display: none;
}


#slidePrincipal h2 {
    transition: 1s ease all;
    justify-content: center;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    font-weight: 800;
    font-size: 5em;
    margin-bottom: 10px;
    -webkit-text-shadow: 0 .3rem .9rem rgba(255, 255, 255, 0.4);
    text-shadow: 0 0.3rem 0.9rem rgba(255, 255, 255, 0.4);
    letter-spacing: -3px;
    color: #E7F6F2;
}

#slidePrincipal h4 {
    opacity: 0;
    transition: 1s ease all;
    display: flex;
    justify-content: center;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    font-weight: 600;
    font-size: 1.6em;
    -webkit-text-shadow: 0 .3rem .9rem rgba(12, 12, 12, 0.527);
    text-shadow: 0 0.3rem 0.9rem rgba(7, 7, 7, 0.521);
    color: #E7F6F2;
}

/* ------------------------- */
/* Clases de fullpage.js - Flechas de Slide */
/* ------------------------- */
.fp-controlArrow.fp-next,
.fp-controlArrow.fp-prev {
    top: 95%;
}

.fp-controlArrow.fp-prev {
    left: 80%;
    border-width: 20px 20px 20px 0;
    border-color: transparent #ffffff transparent transparent;
}

.fp-controlArrow.fp-next {
    right: 50px;
    border-width: 20px 0 20px 20px;
    border-color: transparent transparent transparent #ffffff;
}

/* ------------------------- */
/* Footer */
/* ------------------------- */
.footer .texto-naranja {
    text-transform: uppercase;
    font-size: 60px;
    letter-spacing: 2px;
    text-align: center;

}

.footer h2 {
    opacity: 0;
    font-family: 'Oswald', sans-serif;
    transition: 1s ease all;
}


.about-texto h1 {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    font-weight: 800;
    font-size: 5em;
    margin-bottom: 10px;
    -webkit-text-shadow: 0 .3rem .9rem rgba(255, 255, 255, 0.4);
    text-shadow: 0 0.3rem 0.9rem rgba(255, 255, 255, 0.4);
    letter-spacing: -3px;
    color: aliceblue;
    animation: fadeInUp 1s ease-in-out forwards;
}

.about-texto p {
    color: aliceblue;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    font-weight: 500;
    font-size: 1.4em;
}

/* ------------------------- */
/* Footer */
/* ------------------------- */

.contenedor-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer h2 {
    opacity: 0;
    font-family: 'Oswald', sans-serif;
    transition: 1s ease all;
    text-transform: uppercase;
    font-size: 60px;
    letter-spacing: 2px;
    margin: 0 auto;

}

.footer img {
    width: 70px;

}

.footer a {
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    font-weight: 600;
    font-size: 1.2em;
    color: aliceblue;
    animation: fadeInUp 1s ease-in-out forwards;
    margin-left: 20px;
}

.lista-contacto {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
